<a href="https://colab.research.google.com/github/axefx/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Axel_Corro_LS_DS13_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
# create feature using cats and dogs allowed
def check_both_pets(content):
  if content == 2:
    return 1
  else:
    return 0

df['cats_and_dogs_allowed'] = (df['cats_allowed']+df['dogs_allowed']).apply(check_both_pets)

In [5]:
# create feature: length of description
def count_desc_len(content):
  return len(str(content))

df['desc_length'] = df['description'].apply(count_desc_len)
df['desc_length'].value_counts()

8       1627
3       1425
24       327
1        236
105      131
        ...
2006       1
1742       1
1878       1
3010       1
2248       1
Name: desc_length, Length: 2080, dtype: int64

In [0]:
# create feature: interest to category code
def interest_to_cat(content):
  if content == 'high':
    return 2
  if content == 'medium':
    return 1
  if content == 'low':
    return 0
df['interest_code'] = df['interest_level'].apply(interest_to_cat)

In [7]:
df.head(2)

   bathrooms  bedrooms  ... desc_length interest_code
0        1.5         3  ...         588             1
1        1.0         2  ...           8             0

[2 rows x 37 columns]

In [0]:
# Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

df['created_dt'] = pd.to_datetime(df['created'])

# train using april and may 2016
train = df[(df['created_dt'] < '2016-06') & (df['created_dt'] > '2016-03')]
# test using june 2016
test = df[(df['created_dt'] < '2016-07') & (df['created_dt'] > '2016-05')]

In [9]:
# Fit a linear regression model with at least two features.
from sklearn.linear_model import LinearRegression

model = LinearRegression()

target = 'price'

features = ['desc_length','interest_code']

X_train = train[features]
X_test = test[features]
y_train = train[target]
y_test = test[target]

# fit the model
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
# train - mae
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print("Train error: ",mae)

Train error:  1161.1470587264641

In [11]:
# test - mae
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print("Test error: ",mae)

Test error:  1160.8893473073522

In [12]:
# train - root mean squared error
import numpy as np

y_pred = model.predict(X_train)
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error:', rmse)

Root Mean Squared Error: 1699.765239192023

In [13]:
# test - root mean squared error
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error:', rmse)

Root Mean Squared Error: 1711.9123308880846

In [14]:
# train - r2_score
y_pred = model.predict(X_train)
r2 = r2_score(y_train, y_pred)
print('R2:', r2)

R2: 0.06950865962574193

In [15]:
# test - r2_score
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
print('R2:', r2)

R2: 0.07443124695480352